body {
	background: #eeeeee;
	font-size: 0;
}

#toleranceSlider {
	font-size: 16px;
	margin: 20px;
	width: 200px;
}

#videoContainer {
	position: relative;
	width: 400px;
	height: 300px;
}

#videoContainer * {
	position: absolute;
	top: 0;
	left: 0;
	
}

#finalCanvas {
	z-index: 2;
}